* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}
    body{
        margin: 0px;
        padding: 0px;
        font-family:'Open Sans',sans-serif;
    }

            .wrapper{
                width: 1100px; 
                margin: auto;
                position: relative;

            }

            .logo a{
                font-size: 40px;
                font-weight: 200;
                float: left; 
                position: relative;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: #E84545;

        }

            .menu {
                float: right;

            }

            
                
            nav {
                width: 100%;
                margin: auto;
                display: flex;
                line-height: 80px;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                background-color: #ffffff;
                z-index: 1;
                border-bottom: 1px solid black;
            }


            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;

            }

            nav ul li {
                float: left;

            }

            nav ul li a {
                color: black;
                font-weight: bold;
                text-align: center;
                padding: 0px 16px 0px 16px;
                text-decoration: none;
            }

            nav ul li a:hover {
                text-decoration: underline;

            }

            section {
                margin: auto;
                display: flex;
                margin-bottom: 50px;
            }
            
            .kolom {
                margin-top: 100 px;
                margin-bottom: 50px;
            }
            .kolom .deskripsi {
                font-size: 20px;
                font-weight: bold;
                font-family: 'comic sans ms';
                color: black;

            }

            h2{
                font-family: 'comic sans ms';
                font-weight: 800;
                font-size: 45px;
                margin-bottom: 20px;
                color: #C96868;
                width: 100%;
                line-height: 50px;
            }

            a.tbl-biru{
                background: #4F75FF;
                border-radius: 20px;
                margin-top: 20px;
                padding: 10px;
                color: #ffffff;
                cursor: pointer;
                font-weight: bold;
                
            }

            a.tbl-biru:hover {
                background: #B8001F;
                text-decoration: none;
            }

            a.tbl-pink {
                background: #B8001F;
                border-radius: 20px;
                margin-top: 20px;
                padding: 20px;
                color: #ffffff;
                cursor: pointer;
                font-weight: bold;
            }
            
            a.tbl-pink:hover{
                background: #4F75FF;
                text-decoration: none;
            }

            p{
                margin: 10px 0px 10px 0px;
                padding: 10px 0px 10px 0px;
            }

            .Kontol{
                align-items: center;
            }
            

        

     
        
           

    